@model _LayoutModel

@{ 
}

<!DOCTYPE html>
<html>
<head>
  <title>@ViewData["title"]</title>
</head>
<body>
    <header>
        一起帮.源栈欢迎您
        @if (ViewData["UserName"] == null)
        {
            <a href="/Log/On">登录</a>
        }
        else
        {
            <span>你好 @(ViewData["UserName"])</span>
        }

        <a href="/Register">注册</a> |
        <a href="/Log/On">登陆</a> |
        <a href="/Email/Validate">Email验证</a> |
        <a href=" /Suggest/New">提出意见建议</a> |
    </header>
    <h2>@ViewData["Title"]</h2>
    @RenderBody()
    <footer>
        <hr />
        大神小班...
    </footer>
</body>
</html>
