@model _LayoutModel

<!DOCTYPE html>
<html>
<head>
  <title>@ViewData["title"]</title>
</head>
<body>
   <header>
       一起帮.源栈欢迎您
       @if (ViewData["UserName"] == null)
       {
           <a href="/Log/On">登录</a>
       }
       else
       {
           <span>你好！@ViewData["UserName"]</span>
       }
   </header>
        @RenderBody()
    <footer>大神小班...</footer>
    
</body>
</html>
