
@*@{ 
     Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FirstMVC_UI.Models.Model.RegisterModel
<h1>注册</h1>
@using (Html.BeginForm())
{
    <label><input type="checkbox"name="Remember" />记住我</label>
    <input type="submit" value="测试" />

}*@

