@page
@model WebThreetier.Pages.NewModel
@{
    @ViewDate["Title"] = "提出意见建议";
}

<form method="post">
    <label>标题</label><input asp-for="Title" /><span asp-validation-for="Modal"></span>
    <label>内容</label>
    <br />
    <textarea asp-for="Body"></textarea>
    <button type="submit">提交</button>
</form>

