@page
@model WebThreetier.Pages.NewModel
@{
   ViewData["Title"] = "提出意见建议";
}

<form method="post">
    <label>标题</label><input asp-for="Title" /><span asp-validation-for="Title"></span>
    <label>内容</label><br />
    <textarea asp-for="Body"></textarea><span asp-validation-for="Body"></span>
    <br />
    <button type="submit">提交</button>
</form>

