@page
@model WebThreetier.Pages.Suggest.SingleModel
@{
    ViewData["Title"] = "文章单页";
}
<h4>@Model.Blog.Body</h4>
<main>
    @Html.Raw(Model.Blog.Body)
</main>
<p>@ViewData["id"]</p>

<a href="/New/Delete?id=@Model.Blog.Id">删除</a>

<a href="/New?agreeOn=@Model.Id&token=@Model.UserToken">赞</a>
