@page

<html>
<body>
    <h1>帮帮点</h1>
    <div>
        <h3>Q：什么是帮帮点？有什么用处？</h3>
        <p>帮帮点和一般论坛“积分”相似，主要衡量用户的社区活跃和贡献</p>
        <table border="1">
            <thead>
                <tr>
                    <th></th>
                    <th>等级</th>
                    <th>点数</th>
                    <th>掉落</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>入门</td>
                    <td>30</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>聚气</td>
                    <td>100</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>凝液</td>
                    <td>200</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>结晶</td>
                    <td>700</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>金丹</td>
                    <td>1500</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>元婴</td>
                    <td>3000</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>化神</td>
                    <td>5000</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>渡劫</td>
                    <td>10000</td>
                    <td>300</td>
                </tr>
            </tbody>
        </table>
        <h3>Q：如何才能获得帮帮点？</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>社区活动</th>
                    <th>点数</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">账号相关</td>
                </tr>
                <tr>
                    <td>
                        <a href="/Pages/Error">注册</a>
                    </td>
                    <td>10</td>
                    <td>
                        <a href="/Log/On#One">On页面One</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/Pages/About">邀请</a>
                    </td>
                    <td>20</td>
                    <td>
                        <a href="/Log/On#Two">On页面Two</a>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>30</td>
                    <td>暂未</td>
                </tr>
                <tr>
                    <td colspan="3">求助相关</td>
                </tr>
                <tr>
                    <td>新人测试</td>
                    <td>0~30</td>
                    <td>按成绩给点数奖励</td>
                </tr>
                <tr>
                    <td>首次求助</td>
                    <td>20</td>
                    <td>只能是第一次发布求助，并且审核通过</td>
                </tr>
                <tr>
                    <td>酬谢</td>
                    <td></td>
                    <td>“求助人”酬谢多少就能获得10倍点数</td>
                </tr>
                <tr>
                    <td>获得</td>
                    <td></td>
                    <td>全额酬谢时，酬谢帮帮币，问题没有解决不能获得点数奖励。</td>
                </tr>
                <tr>
                    <td>查看总结</td>
                    <td>2</td>
                    <td>只有注册用户才能查看</td>
                </tr>
                <tr>
                    <td>总结被查看</td>
                    <td>3</td>
                    <td>只有注册用户才能查看</td>
                </tr>
                <tr>
                    <td>评论总结</td>
                    <td>5</td>
                    <td>自己不能评价自己，同一用户同一总结只奖励一次</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

