@page
@{
    Layout = null;
}
<html>
<body>
    <h1>帮帮点</h1>
    <table border="1">
        <thead>
            <tr>
                <th>社区活动</th>
                <th>点数</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">账号相关</td>
            </tr>
            <tr>
                <td>
                    <a href="/Pages/Error">注册</a>
                </td>
                <td>10</td>
                <td>
                    <a href="/Log/On#One">On页面One</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/Pages/About">邀请</a>
                </td>
                <td>20</td>
                <td>
                    <a href="/Log/On#Two">On页面Two</a>
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>30</td>
                <td>暂未</td>
            </tr>
            <tr>
                <td colspan="3">求助相关</td>
            </tr>
            <tr>
                <td>新人测试</td>
                <td>0~30</td>
                <td>按成绩给点数奖励</td>
            </tr>
            <tr>
                <td>首次求助</td>
                <td>20</td>
                <td>只能是第一次发布求助，并且审核通过</td>
            </tr>
            <tr>
                <td>酬谢</td>
                <td></td>
                <td>“求助人”酬谢多少就能获得10倍点数</td>
            </tr>
            <tr>
                <td>获得</td>
                <td></td>
                <td>全额酬谢时，酬谢帮帮币，问题没有解决不能获得点数奖励。</td>
            </tr>
            <tr>
                <td>查看总结</td>
                <td>2</td>
                <td>只有注册用户才能查看</td>
            </tr>
            <tr>
                <td>总结被查看</td>
                <td>3</td>
                <td>只有注册用户才能查看</td>
            </tr>
            <tr>
                <td>评论总结</td>
                <td>5</td>
                <td>自己不能评价自己，同一用户同一总结只奖励一次</td>
            </tr>
        </tbody>
    </table>
</body>
</html>

