@page
@{
    Layout = null;
}
<html>
<body>
    <table border="1">
        <thead>
            <tr>
                <th colspan="3">社区活动 点数 备注</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">
                    <a href="/Pages/Error">注册</a>
                    <a href="/Pages/About">邀请</a>
                </td>
                <td>10 </td>
                <td>
                    <a href="/Log/On#One">On页面One</a>
                </td>
            </tr>
            <tr>
                <td>20</td>
                <td>
                    <a href="/Log/On#Two">On页面Two</a>
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>30</td>
                <td>暂未</td>
            </tr>
        </tbody>
    </table>
</body>
</html>

