<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <a style="color:orange">这是_Layout页面</a>
    <header>一起帮·源栈欢迎您</header>
    <h3 style="color:aqua">欢迎加入一起帮</h3>
    @RenderBody()
    <footer style="color:cornflowerblue">大神小班……</footer>

    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span style="color:red">i</span>
    <br />
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;<span style="color:blue">iii</span></span>
    <br />
    <span>&nbsp;</span>
    <span>&nbsp; <span style="color:red">iiiii</span></span>
    <br />
    <span>&nbsp; <span>&nbsp;<span style="color:blue">iiiiiii</span></span></span>
    <br />
    <span>&nbsp; <span style="color:red">iiiiiiiii</span></span>
</body>
</html>
