@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <a style="color:orange">这是_Layout页面</a>
        <header>一起帮·源栈欢迎您</header>
        <h3 style="color:aqua">欢迎加入一起帮</h3>
        @RenderBody()
        <footer style="color:cornflowerblue">大神小班……</footer>

        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span style="color:red">i</span>
        <br />
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>&nbsp;<span style="color:blue">iii</span></span>
        <br />
        <span>&nbsp;</span>
        <span>&nbsp; <span style="color:red">iiiii</span></span>
        <br />
        <span>&nbsp; <span>&nbsp;<span style="color:blue">iiiiiii</span></span></span>
        <br />
        <span>&nbsp; <span style="color:red">iiiiiiiii</span></span>
    </body>
    </html>

<html>
<head>
    <style>
         td {
        border: 1px solid;
    }
        /*table {
            margin: 0;
            padding: 0;
            border-collapse: collapse;
            color: #333;
        }

            table td, table th {
                margin: 0;
                padding: 0.3em;
            }

            table caption {
                font-weight: bold;
                font-size: 1.25em;
                padding-top: 0.2em;
                padding-bottom: 0.2em;
                background-color: #d4dde6;
            }

                table caption[rel="prev"] {
                    float: left;
                    margin-left: 0.2em;
                }

                table caption[rel="next"] {
                    float: right;
                    margin-right: 0.2em;
                }

                table caption a:link, table caption a:visited {
                    text-decoration: none;
                    color: #333;
                    padding: 0 0.2em;
                }

                table caption a:hover, table caption a:active, table caption a:focus {
                    background-color: #6d8ab7;
                }

            table thead th {
                background-color: #d4dde6;
                border-bottom: 1px solid #a9bacd;
                font-size: 0.873em;
            }

            table tbody {
                background-color: #d0d9e2;
                text-shadow: 1px 1px 1px white;
                color: #a4a4a4;
            }

                table tbody td {
                    background-color: #a7afb2;
                    color: #000;
                    border-top: 1px solid #e0e0e1;
                    border-right: 1px solid #9f9fa1;
                    border-bottom: 1px solid #acacad;
                    border-left: 1px solid #dfdfe0;
                    text-align: center;
                }

                    table tbody td:hover, table tbody td.selected {
                        background-color: #464b4d;
                    }

        .no-effect {
            background-color: #d4dde6;
            text-shadow: 1px 1px 1px white;
            color: #a4a4a4;
        }*/
    </style>
</head>
<body>
    <table>
        <caption>复制粘贴</caption>
        <thead>
            <tr>
                <th>日</th>
                <th>一</th>
                <th>二</th>
                <th>三</th>
                <th>四</th>
                <th>五</th>
                <th>六</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>30</td>
                <td>31</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </tr>
            <tr>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
            </tr>
            <tr>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
            </tr>
            <tr>
                <td>20</td>
                <td>21</td>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
                <td>26</td>
            </tr>
            <tr>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td>30</td>
                <td>31</td>
                <td>1</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
</body>
</html>