<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/Wait.css" />
    <style type="text/css"> </style>
    <!--引入bootstrap-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    
</head>
<body>
    <div class="nav-1">

        <ul class="shape">

            <li><a href="/About" class="a-1">注册</a></li>
            <li><a href="/Log/On" class="a-1">登录</a></li>
            <li><a href="/Write/Write" class="a-1">推广</a></li>
            <li><a href="/Helper/New" class="a-1">目标</a></li>
        </ul>
    </div>

    @RenderBody()
  

    <hr>
    <div>
        <a href="/Write/Us">关于我们</a>|
        <a href="/Write/FAQ">常见问题</a>|
        <a href="/Suggest/Suggest">意见建议</a>|
        <a href="/Suggest/Notice">历史通知</a>|
        <a href="#">友情捐赠</a>
    </div>
</body>
</html>
