<!DOCTYPE html>
<html>
<head>

</head>
<body>

    @RenderBody()

    <hr>
    <footer>
        <a href="/Write/Us">关于我们</a>|
        <a href="/Write/FAQ">常见问题</a>|
        <a href="/Suggest/Suggest">意见建议</a>|
        <a href="/Suggest/Notice">历史通知</a>|
        <a href="#">友情捐赠</a>
    </footer>
</body>
</html>
