<!DOCTYPE html>
<html>
<head>

</head>
<body>

    @RenderBody()

    <hr>
    <footer>
        <a href="#">关于我们</a>|
        <a href="#">常见问题</a>|
        <a href="#">意见建议</a>|
        <a href="#">历史通知</a>|
        <a href="#">友情捐赠</a>
    </footer>
</body>
</html>
