@page

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>首页~一起帮</title>

    <link rel="stylesheet" href="/css/Wait.css" />

    <style type="text/css">
        .post-a-2 {
            /*向左浮动*/
            float: left;
            /*宽度百分之三十*/
            width: 30%;
            /*位置是相对的*/
            position: relative;
            /*1px的黑色虚线*/
            border: 1px dotted black;
        }

        .post-a-1 {
            /*宽度*/
            width: 1500px;
            /*右边边缘自动*/
            margin-right: auto;
            /*左边边缘自动*/
            margin-left: auto;
            /*最小高度*/
            min-height: 550px;
            /*边缘*/
            margin: 100px 0 0 0;
            -webkit-box-sizing: border-box;
            border: 1px dotted black;
        }

        .post-b-2 {
            /*文本对齐 居中*/
            text-align: center;
        }

        .post-a-3 {
            /*显示 块元素*/
            display: block;
            /*边缘右边自动*/
            margin-right: auto;
            /*边缘左边自动*/
            margin-left: auto;
            /*最大宽度*/
            max-width: 100%;
        }

        .button {
            /*填充 上20 右20*/
            padding: 20px 20px;
            /*字体大小 18*/
            font-size: 18px;
            /*线的高度*/
            line-height: 1.3px;
        }

        .b-1 {
            /*字体颜色*/
            color: #ffffff;
            /*背景颜色*/
            background-color: #0094ff;
            /*边界颜色
                border-color: #b6ff00;
            */
            /*文本装饰线 没有
                text-decoration-line: none;
            */
        }

        .c-1 {
            /*右边填充*/
            padding-right: 30px;
            /*左边填充*/
            padding-left: 15px;
            /*位置相对的
            position: relative;
            */
        }

        .m-1 {
            height: 360px;
            /*上方填充*/
            padding-top: 50px;
        }

        .clear {
            /*左右的流元素都清除*/
            clear: both;
        }

        .top-nav {
            /*位置固定*/
            position: fixed;
            width: 100%;
            height: 100%;
        }

        .banner {
            /*填充顶端*/
            padding-top: 100px;
            /*边缘*/
            margin: 0 auto;
            width: 1500px;
            height: 700px;
            /*位置相对的*/
            position: relative;
        }
    </style>

</head>
<body>
    <header>
        <div class="post-a-1 c-1">
            <div class="row clear ">
                <div class="post-a-2  m-1 ">
                    <img src="~/images/求助.svg" class="post-a-3" />
                    <h2 class="post-b-2">远程协助</h2>
                    <a href="/Helper/Helper" class="a-1">
                        <div class="post-b-2 b-1 button">求助</div>
                    </a>
                </div>
                <div class="post-a-2  m-1 ">
                    <!--远程督促暂未完成-->
                    <img src="~/images/督促.svg" class="post-a-3" />
                    <h2 class="post-b-2">远程监督</h2>
                    <a href="/Error" class="a-1">
                        <h1 class="post-b-2 b-1 button">督促</h1>
                    </a>
                </div>
                <div class="post-a-2  m-1 ">
                    <img src="~/images/文章.svg" class="post-a-3" />
                    <h2 class="post-b-2">发布文章</h2>
                    <a href="/Helper/New" class="a-1">
                        <h1 class="post-b-2 b-1 button">文章 </h1>
                    </a>
                </div>
            </div>

        </div>

    </header>
   
    <a href="/Log/Body">测试</a>
</body>
</html>





