@page
@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <title>首页~一起帮</title>

</head>
<body>
    <div>
        <h2>远程协助</h2>
        <a href="/Helper/Helper">
            <h1>求助</h1>
        </a>
    </div>
    <div>
        <h2>远程督促</h2>
        <a href="/Error">
            <h1>督促</h1>
        </a>
    </div>
    <div>
        <h2>发布文章</h2>
        <a href="/Log/On">
            <h1>文章</h1>
        </a>
    </div>
    <a href="/About">注册</a>
    <div>
        <a href="/Log/On">e</a>
        <p><a href="/Log/On#One">后缀One</a></p>
        <p><a href="/Log/On#Two">后缀Two</a></p>
        <p><a href="/Log/On#Three">后缀Three</a></p>
        <p><a href="/Log/On#Four">后缀Four</a></p>
    </div>
    
</body>
</html>





