@page
@{

}
<a href="/Pages/Index">
    <img src="~/images/banner1.svg" title="This is a Title" alt="This is a Alt" />
    </a><br />
<a href="/One/End">跳转</a>
<html>

<body>
    <h1>常见问题</h1><br />
    <h3>账户</h3>
    <p><a href="/Log/On#One">后缀One</a></p>
    <p><a href="/Log/On#Two">后缀Two</a></p>
    <p><a href="/Log/On#Three">后缀Three</a></p>
    <p><a href="/Log/On#Four">后缀Four</a></p>
</body>
</html>

