@page


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>首页~一起帮</title>

    <link rel="stylesheet" href="/css/Wait.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />


    <style type="text/css">
      

        .banner {
            /*填充顶端*/
            padding-top: 100px;
            /*边缘*/
            margin: 0 auto;
            width: 1500px;
            height: 700px;
            /*位置相对的*/
            position: relative;
        }

        .home-card {
            min-height: 480px;
        }

            .home-card .content {
                height: 360px;
                padding-top: 70px;
            }
    </style>

</head>
<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-4 home-card">
                <div class="lead content">
                    <img src="~/images/求助.svg" class="center-block" />
                    <h2 class="text-center">一对一远程协助</h2>
                    <p class="text-center">帮忙</p>
                </div>
                <a class="btn btn-primary btn-lg btn-block bottom" href="/Helper/Helper">
                    求助
                </a>
            </div>
            <div class="col-md-4 home-card">
                <div class="lead content text-center">
                    <img src="~/images/督促.svg" class="center-block" />
                    <h2 class="text-center">就让我来督促你</h2>
                    <p class="text-center">决心</p>
                </div>
                <a class="btn btn-primary btn-lg btn-block"
                   href="#">督促</a>
            </div>
            <div class="col-md-4 home-card">
                <div class="lead content ">
                    <img src="~/images/文章.svg" class="img-responsive center-block" />
                    <h2 class="text-center">发布前需付费</h2>
                    <p class="text-center">保证</p>
                </div>
                <a class="btn btn-primary btn-lg btn-block"
                   href="#">发布</a>
            </div>
        </div>
    </div>

    <a href="/Log/Body">测试</a>
    <a href="/About">注册个人信息</a>
    <a href="/Suggest/Suggest">意见建议</a>
    
</body>
</html>





