@page
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>首页~一起帮</title>

    <link rel="stylesheet" href="/css/Wait.css" />

    <style type="text/css">
        div.post_right {
            /*向左浮动*/
            float: left;
            /*宽度百分之三十*/
            width: 30%;
            /*位置是相对的*/
            position: relative;
            /*1px的黑色虚线*/
            border: 1px dotted black;
        }

        .target {
            /*浏览器的盒子大小 边界框*/
            -webkit-box-sizing: border-box;
            /*边缘*/
            margin: 100px 0 0 0;
        }

        .text {
            /*文本对齐 居中*/
            text-align: center;
        }

        .center-block {
            /*显示 块元素*/
            display: block;
            /*边缘右边自动*/
            margin-right: auto;
            /*边缘左边自动*/
            margin-left: auto;
            /*最大宽度*/
            max-width: 100%;
        }

        .button {
            /*填充 上20 右20*/
            padding: 20px 20px;
            /*字体大小 18*/
            font-size: 18px;
            /*线的高度*/
            line-height: 1.3px;
        }

        .btn {
            color: #ffffff;
            /*背景颜色*/
            background-color: #0094ff;
            /*边界颜色*/
            border-color: #b6ff00;
            /*文本装饰线 没有*/
            text-decoration-line: none;
        }

        .home {
            /*宽度*/
            width: 1170px;
            /*右边边缘自动*/
            margin-right: auto;
            /*左边边缘自动*/
            margin-left: auto;
            /*最小高度*/
            min-height: 300px;
        }

        .content {
            /*右边填充*/
            padding-right: 15px;
            /*左边填充*/
            padding-left: 15px;
            /*位置相对的*/
            position: relative;
        }

        .margin {
            height: 360px;
            /*上方填充*/
            padding-top: 50px;
        }

        .clear {
            /*左右的流元素都清除*/
            clear: both;
        }

        .top-nav {
            /*位置固定*/
            position: fixed;
            width: 100%;
            height: 100%;
            /*指标为10？？？*/
            z-index: 10;
        }

        .banner{
            /*填充顶端*/
            padding-top:100px;
            /*边缘*/
            margin:0 auto;
            width: 1500px;
            height:700px;
            /*位置相对的*/
            position:relative;
        }

        footer {
            /*位置固定*/
            position: fixed;
            /*底端*/
            bottom: 10%;
        }
    </style>

</head>
<body>
    <header>
        <div class="home content target">
            <div class="row clear">
                <div class="post_right home margin content">
                    <img src="~/images/求助.svg" alt="我要求助" class="center-block" />
                    <h2 class="text">远程协助</h2>
                    <a href="/Helper/Helper">
                        <h1 class="text btn button content">求助</h1>
                    </a>
                </div>
                <div class="post_right home margin content">
                    <!--远程督促暂未完成-->
                    <img src="~/images/督促.svg" alt="远程督促" class="center-block" />
                    <h2 class="text">远程监督</h2>
                    <a href="/Error">
                        <h1 class="text btn button">督促</h1>
                    </a>
                </div>
                <div class="post_right home margin content">
                    <img src="~/images/文章.svg" class="center-block" />
                    <h2 class="text">发布文章</h2>
                    <a href="/Helper/New">
                        <h1 class="text btn button">文章 </h1>
                    </a>
                </div>
            </div>

        </div>

    </header>


</body>
</html>





