@page
@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <title>首页~一起帮</title>

</head>
<body>
    <header>
        <div>
            <h2>远程协助</h2>
            <a href="/Helper/Helper">
                <img src="~/images/求助.svg" alt="我要求助" />
                <h1>求助</h1>
            </a>
        </div>
        <div>
            <h2>远程督促</h2>
            <!--远程督促暂未完成-->
            <a href="/Error">
                <img src="~/images/督促.svg" alt="远程督促" />
                <h1>督促</h1>
            </a>
        </div>
        <div>
            <h2>发布文章</h2>
            <a href="/Helper/New">
                <img src="~/images/文章.svg" />
                <h1>文章</h1>
            </a>
        </div>
    </header>
    
    <a href="/About">注册</a>
    <a href="/Log/On">登录</a>
    <a href="/Write/Write">推广</a>
    <a href="/Helper/New">目标</a>
</body>
</html>





