@page

<html>
<head>
    <title>用户注册</title>
</head>
<body>
    <h1>注册</h1>
    <header>
        <form method="post">
            <div>
                <label>用户名:</label>
                <input type="text" name="username" />
            </div>
            <div>
                <label>密码:</label><input type="password" name="password" />
            </div>
            

            <button type="submit">提交</button>
            <input type="reset" value="重置" />
            <label>记住我<input type="checkbox" value="true" /></label>
            <a href="/Log/On">登陆</a>
        </form>
    </header>
    
</body>
</html>






