@page

<html>
<head>

</head>
<body>
    <article>
        <h1>历史通知</h1>
        <div>
            <div>
                <div>状态</div>
                <div>过期时间</div>
                <div>内容</div>
            </div><hr />
            <div></div>
        </div>
    </article>
    
</body>
</html>

