@page

<html>
<head>

</head>
<body>
    <h1>意见建议</h1>
    <header>
        <form method="post">
            <div>
                <div>
                    <label>
                        <span>只显示</span>
                    </label>
                    <label>
                        <input type="radio" name="filter" />
                        未处理
                    </label>
                    <label>
                        <input type="radio" name="filter" />
                        bug
                    </label>
                    <label>
                        <input type="radio" name="filter" />
                        建议
                    </label>
                    <label>
                        <input type="radio" name="filter" />
                        完成
                    </label>
                    <label>
                        <input type="radio" name="filter" />
                        全部
                    </label>
                </div>
            </div>
        </form>
    </header>
    <article>
        <div>
            <h4></h4>
        </div>
        <div></div>
        <div></div>
    </article>
    
</body>
</html>

