@page

<html>
<head>

</head>
<body>
    <h1>常见问题</h1>
    @*<header>
        <div>
            <h3>
                <a href="#">账户</a>
            </h3>
            <p>
                <a href="#">Q：邀请码是怎么一回事？</a>
            </p>
            <p>
                <a href="#">Q：为什么会提示“邀请人数达到上限？”</a>
            </p>
            <p>
                <a href="#">Q：“最后登录时间”有什么用处？</a>
            </p>
            <p>
                <a href="#">Q：邮箱有什么作用？</a>
            </p>
            <p>
                <a href="#">Q：问什么收不到邮箱通知？</a>
            </p>
            <h3>
                <a href="/One/End">帮帮点</a>
            </h3>
            <p>
                <a href="#">Q：什么是帮帮点？有什么用处？</a>
            </p>
            <p>
                <a href="#">Q：如何获得帮帮点？</a>
            </p>
            <h3>
                <a href="/One/End">帮帮币</a>
            </h3>
            <p>
                <a href="#">Q：什么是帮帮币？有什么用处？</a>
            </p>
            <p>
                <a href="#">Q：引入“帮帮币”的目的是什么？</a>
            </p>
            <p>
                <a href="#">Q：如何才能获得帮帮币？</a>
            </p>
            <p>
                <a href="#">Q：作为买方，如何保证交易安全？</a>
            </p>
            <p>
                <a href="#">Q：如何出售帮帮币？</a>
            </p>
            <p>
                <a href="#">Q：如何成为“系统推荐卖家”？</a>
            </p>
            <p>
                <a href="#">Q：作为卖方，如何保证交易安全？</a>
            </p>
            <p>
                <a href="#">Q：帮帮币出售时为什么要设置“门槛”？</a>
            </p>
        </div>
    </header>*@

    <


</body>
</html>
