@page


<html>
<head>

</head>
<body>
    <footer>
        <h1>关于我们</h1><hr />
        <div>
            <p>
                <a href="/Index">一起帮</a>是一个旨在
                <b>直接解决</b>编程/电脑操作等
                <b>具体问题</b>、
                <b>互助式</b>的虚拟社区平台
            </p>
            <h3  href="#">
                <a>直接解决具体问题</a>
            </h3>
            <div>
                <h4>具体问题</h4>
                <p>目前主流的问答社区，不允许具体的、仅适用于个例的问题</p>
                <ul>
                    <li>
                        <b>电脑操作</b>
                        :软件安装失败
                    </li>
                    <li>
                        <b>编程学习</b>
                        :Exception!超诡异的bug!
                    </li>
                    <li>
                        <b>软件使用</b>
                        :打开“属性”窗口——但是却找不到“属性”窗口在哪里
                    </li>
                    <li>
                        <b>语法纠正</b>
                        :额，不会发信
                    </li>
                    <li>
                        <b>法律咨询</b>
                        :找人帮忙
                    </li>
                </ul>
                <h4></h4>
                <p></p>
                <ul></ul>
            </div>
            <h3  href="#">
                <a>互助互利一起帮</a>
            </h3>
            <h3  href="#">
                <a>记住我们</a>
            </h3>
        </div>
    </footer>
    <aside></aside>
</body>
</html>


