@page

<html>
<head>
    <title>一起帮~推广</title>
</head>
<body>
    <h1>推广</h1><hr />
    <header>
        <div>
            <div class="form-group">
                <label>推广链接:</label>
                <label>
                    <input type="radio" name="donateAd" value="false" />
                    稍后设置
                </label>
                <label>
                    <input type="radio" name="donateAd" value="false" />
                    赠送给“一起帮”
                </label>
                <label>详细</label>
            </div>
        </div>
        <div>
            <label>文字内容:</label>
            <input name="Text" type="text" />
        </div>
        <div>
            <label>链接:</label>
            <input name="Url" type="text" />
        </div>
        <div>
            <button type="submit">提交</button>
            <input type="reset" value="重填" />
            <a href="#">
                <span>跳过</span>
            </a>
        </div>
    </header>

    <aside>
        <h2>说明</h2>
    </aside>
</body>
</html>

