@page
@model IndexModel
@{
    Layout = null;
    ViewData["Title"] = "Home page";
}
<div style="background-color:chartreuse">Index页面</div>
<h1>我是Index内容页</h1>
<h1 style="caption-side:block-end">这是可嵌套的</h1>

<a asp-page="/About"><small>2019年7月8日 00点00分</small></a>

<a href="/About">普通</a>