@page
@model RegisterModel
@{ 
    Layout = null;
}
<title>问号</title>
<h2>Register</h2>
<h3>@ViewData["Title"]</h3>

<form method="post" asp-page="/Register">
    <div>
        <label>用户名:</label><input type="text"name="UserName" />
    </div>
    <div>
        <label>密码:</label><input type="password"name="Password" />
    </div>
    <div>
        <button type="submit">提交</button>
    </div>
</form>