@page
@model IndexModel

@{ 
    ViewData["Title"] = "首页";
}

<a href="/Register">注册</a><br />
<a href="/Log/On">登陆</a><br />
<a href="/Email/Validate">Email验证</a><br />
<a href=" /Suggest/New">提出意见建议</a><br />

