@page
@model WebThreetier.Pages.RegisterModel

<form method="post">
    <label>用户名：</label><input asp-for="UserName" />
    <label>密码</label><input type="password" asp-for="Password" />
    <button type="submit">提交</button>
</form>
