@page
@model WebThreetier.Pages.RegisterModel

@{ 
    @ViewData["Title"];
}
<form method="post" asp-page="/Register">
    <div>
        <label>用户名：</label>
        <input asp-for="Register.Name" />
        <span asp-validation-for="Register.Name"></span>
    </div>
    <div>
        <label>密码：</label>
        <input type="password" name="Register.Password" />
        <span asp-validation-for="Register.Password"></span>
    </div>
    <div>
        <label>确认密码：</label>
        <input type="password" name="Register.ConfirmPassword" />
        <span asp-validation-for="Register.ConfirmPassword"></span>
    </div>
    <div>
        <button type="submit">注册</button>
    </div>
</form>
